#title{
    font-size:64px;
    font-family:'Segoe UI';
}

body{
	padding: 50px;
}

#search {
	margin: 20px 80px;
}

#booklist {
	margin: 30px 20px 40px;
}

.table tbody td {
	vertical-align: middle;
	padding-right: 40px;
}
