{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <title>Story 8</title>
    
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'story/inicss.css' %}"> -->
    
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'story/style.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="{% static 'story/script.js' %}"></script>    
    </head>
    <body>
        <h1 id="title" class="text-center">Daftar Buku</h1>

        <div id="search">
            <div class="justifycenter align-items-center">
                    <label for="searchbook">Search a Book</label>
                    <div class="input-group mx-auto">
                            <input type="text" id="input" class="form-control" id="searchbook" placeholder="Input Book's title here..">
                             <div class="input-group-append">
                                <button onclick="readInput()" class="btn btn-outline-secondary">Search</button>
                            </div>
                        </div>            
            </div>
        </div>

            <div class="row">
                <div class="col">
                            <table class="table table-striped">
                                    <thead>
                                    <tr>
                                            <th>No</th>
                                            <th>Cover</th>
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Publisher</th>
                                            <th>Page</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                            </table>
                    
                </div>
                
                </div>

            </div>
        </div>
    
    </body>
</html>